<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
    <title>Groove Station</title>
    <div class="container">
        <h1>Welcome to your Groove Station!</h1>
    </div>
    <div class="link">
        <a href="/logout">Logout</a> 
    </div>
    <div class="link">
        <a href="/playlist" class="link">Let's Groove</a>
    </div>
</head>
<body>
    <div>
        <h3><%= body.display_name %></h3>
    </div>
    <div class="profileDetails">
        <h3>Groove Name: <%= body.id %></h3>
    </div>
    <div class='profileDetails'>
        <h5>Email: <%= body.email %></h5>
    </div>
    <div class="profileDetails">
        <h3>The amount of Groovers that dig your vibe!</h3>
        <h3><%= body.followers.total %></h3>
    </div>
    <div class="profileDetails">
        <img src="<%= body.images[0].url %>">
    </div>
</body>
</html>


