<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Songs</title>
</head>

<body>
    <div class="results">
        <% results.tracks.forEach(function(track) { %>
        <%= track.album.name %>
        <% track.album.images[0].url %>
        <%= track.name %>
        <form method="POST" action="/track/<%= track.id %>">
            <select name="playlist" id="playlists">
                <% results.playlists.forEach(function(playlist) { %>
                <option value="<%=playlist.id%>"><%= playlist.name %></option>
                <% }) %>
            </select>
            <input type="submit" value="add" class="search">
        </form>
        <form method="POST" action="/track/delete/<%= track.id %>?_method=DELETE">
            <select name="playlist" id="playlists">
                <% results.playlists.forEach(function(playlist) { %>
                <option value="<%=playlist.id%>"><%= playlist.name %></option>
                <% }) %>
            </select>
            <input type="submit" value="undo" class="search">
        </form>
        <% }) %>
    </div>
</html>